.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: white;
  }
  